.navbar{
    .container{
        width: 100%;
        display: flex;
        margin:10px ;
        font-size: 24px; 
    }
    .logoLight{
        color:#ff902b ;
        font-weight: 600;
    }
   
}